<h3>Crear Usuario</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="nombre" required [(ngModel)]="user.nombre" name="nombre">
    </div>

    <div class="form-group">
      <label for="name">Apellido</label>
      <input type="text" class="form-control" id="apellido" required [(ngModel)]="user.apellido" name="apellido">
    </div>

    <div class="form-group">
      <label for="name">Profesion</label>
      <input type="text" class="form-control" id="profesion" required [(ngModel)]="user.profesion" name="profesion">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
    </div>

    <button type="submit" class="btn btn-success">Ingresar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Se ha ingresado correctamente!</h4>
  <!-- <button class="btn btn-success" (click)="newuser()">Add</button> -->
</div>
